# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test
*.out

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

# Environment variables file
.env

# VS Code 
.DS_Store
.vscode/

# Credentials

token.json

# Whoop date folder
data/

internal/data/

tests/data/

# Binary
mywhoop
mywhoop_linux_amd64
mywhoop_linux_arm64
mywhoop_darwin_amd64
mywhoop_windows_amd64.exe

# Tests

out.svg


# Config

private_config.yaml
dist/
